/*

Beauty Template

http://www.templatemo.com/tm-519-beauty

---------------------------------------

COLORS
primary: #CC9999;
accent: #CEC0AE;
accent dar: #786247;
text dark: #333333;
text light dark: #747474;

header 1 mb: 25px;
header 2 mb: 45px;
header 3 mb: 35px;
header 4 & 5 mb: 50px;
others mb: 40px;
*/

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: #69513D;
  overflow-x: hidden;
}

.tm-mb-25 { margin-bottom: 25px; }
.tm-mb-45 { margin-bottom: 45px; }
.tm-gallery-pad { padding: 40px 50px; }
.tm-gallery-item { margin: 0 5px; }


h1 { font-size: 3.6rem; }
.tm-site-name { text-shadow: 3px 3px 4px #666; }
a { transition: all 0.3s ease; }
.tm-line-height-2 { line-height: 2; }
.tm-text-dark { color: #333333; }
.tm-text-light-dark { color: #747474; }
a.tm-text-light-dark:hover { color: #747474; }

.tm-top-bar {
  background-color: #CC9999;
  max-width: 925px;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.tm-bar-2 {
  background-color: #FFE099;
  width: 100%;
  height: 15px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.tm-logo {
    width: 370px;
    height: 370px;
    background: url(../img/logo.jpg) center no-repeat;
    background-size: cover;
    position: absolute;
    right: -13%;
    top: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-radius: 50%;
}

.tm-welcome { display: flex; }

.tm-welcome-left {
  background-color: #FFE099;
  padding: 80px;
  max-width: 925px;
  width: 84%;
  position: relative;
}

.tm-welcome-right {
  max-width: 205px;
  width: 16%;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  background: #ffffff;
  margin-left: -52px;
}

.tm-welcome-content { max-width: 490px; }
.tm-font-big { font-size: 1.15rem; }

.tm-font-big a { color: #FF3; }

.smallShu{
  width: 60px;
}

.instagram{
  margin-right: 20px;
  width: 50px;
}

h2 { font-size: 2.3rem; }

p {
  line-height: 1.8;
  font-size: 1rem;
}

.tm-section-pb { padding-bottom: 120px; }
.tm-bg-accent { background-color: #F6c8cb; }
.tm-bg-accent h2 { color: white; }
.tm-p-ml { margin-left: -35px; }

.slick-dots li button:before {
  font-size: 75px;
  font-weight: 700;
  content:'-';
  opacity: 1;
  color: #AB9376;
  transition: all 0.3s ease;
}

/* Image hover effect */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

figure.effect-lexi img {
    margin: -10px 0 0 -10px;
    max-width: none;
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
    opacity: 0.9;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(10px,10px,0);
    transform: translate3d(10px,10px,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* margin-bottom: 200px; */
}

figure.effect-lexi:hover img {
    opacity: 0.6;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


.tm-gallery img {
  max-width: 100%;
  max-height: 300px;
}

@media (min-width: 1430px) {
  .tm-contact-left { width: 80%; }

  .container {
    max-width: 1430px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (max-width: 1310px) {
  .tm-bar-2 { max-width: 100%; }
}

@media (max-width: 1199px) {
  .tm-logo {
    width: 300px;
    height: 300px;
    top: 25%;
  }
  .tm-welcome-content { max-width: 450px; }

  .tm-top-bar,
  .tm-welcome-left {
    max-width: 782px;
  }
  .tm-welcome-right { margin-left: -55px; }
}

@media (max-width: 991px) {
  .tm-welcome { flex-direction: column-reverse; }
  .tm-logo {
    top: -250px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .tm-welcome-left {
    max-width: 100%;
    width: 100%;
    padding-top: 100px;
  }
  .tm-welcome-content {
    max-width: 100%;
  }
  .tm-welcome-right {
    max-width: 100%;
    width: 100%;
    height: 250px;
    transform: skewY(-5deg);
    margin-bottom: -30px;
    margin-top: 80px;
    margin-left: 0;
  }

  .tm-welcome-icon { padding: 0 30px 60px 0; }
}

@media (max-width: 480px) {
  .tm-welcome-icon {
    /* padding: 0 15px 40px; */
    /* margin-left: 20px; */
  }

  .tm-welcome-left { padding: 100px 40px 80px; }

  .tm-gallery-container { max-width: 350px; }
  .tm-contact-left-inner { width: 70%;}

  .slick-dotted.slick-slider {
    margin-bottom: 15px;
    padding-bottom: 155px;
}
}
